.headerContainer {
  display: flex;
}

.lizeeIconContainer {
  justify-content: flex-start;
  cursor: pointer;
}

.navigationIcons {
  justify-content: flex-end;
}

.userIconContainer,
.helpIconContainer {
  cursor: pointer;
}
