.headerContainer {
  display: flex;
  height: 2.8rem;
}

.lizeeIconContainer {
  margin-left: 6rem;
  flex: 1;
}

.lizeeIconContainer > svg {
  cursor: pointer;
}

.navigationIcons {
  display: flex;
  margin-right: 7rem;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.userIconContainer,
.helpIconContainer {
  display: flex;
  align-items: center;
}

.userIconContainer > p,
.helpIconContainer > p {
  margin: 0 0.3rem;
  font-family: 'Patron webfont', sans-serif;
  font-size: 0.8rem;
}

.userIconContainer > p,
svg,
.helpIconContainer > p,
svg {
  cursor: pointer;
}
