.button {
  background: blue;
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.button:disabled {
  background: hsl(0, 0%, 75%);
  color: grey;
}
