.dateRangePickerContainer {
  display: flex;
  flex-direction: column;
}

.dateValue {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  color: blue;
  background: white;
  font-family: 'Patron webfont', sans-serif;
  font-size: 0.9rem;
  width: 18rem;
  height: 1.2rem;
  padding: 0.5rem 0;
  cursor: pointer;
}
